<div class="hero">
  <%= image_tag "plant-48.png", height: '50', width: '50' %>
  <%= image_tag "plant-48.png", height: '50', width: '50' %>
  <%= image_tag "plant-48.png", height: '50', width: '50' %>
  <%= image_tag "plant-48.png", height: '50', width: '50' %>

  <div class="hero-content">
    <h1>Project Green</h1>
    <p>Buy your delicacies here</p>
  </div>
</div>